@import '../scss/common.scss';

.formWrapper {
    @extend .card;

    max-width: 270px;
    width: 100%;
    margin: 10px;
}

.formTitle {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 25px;
    color: #537178;
}

.submitButton {
    width: 100%;
}